<launch>

  <!-- arguments -->
  <arg name="rgb_topic"               default="/camera/color/image_raw" />
  <arg name="depth_topic"             default="/camera/aligned_depth_to_color/image_raw" />
  <arg name="camera_info_topic"       default="/camera/color/camera_info" />
  <arg name="bag"                     default="false" />
  <arg name="bag_file"                default="realsense.bag" />

  <!-- launch realsense camera driver -->
  <include file="$(find camera_launchers)/launch/realsense.launch" unless="$(arg bag)">
    <arg name="rviz" value="false" />
  </include>

  <!-- playback recorded bagfile -->
  <node name="realsense_bag_player" pkg="rosbag" type="play" args="$(arg bag_file) --clock" if="$(arg bag)" />

  <!-- launch rtabmap -->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="use_sim_time"            value="true" if="$(arg bag)"/>
    <arg name="cfg"                     value="$(find visual_odometry)/config/rtabmap_realsense.ini" />
    <arg name="rgb_topic"               value="$(arg rgb_topic)" />
    <arg name="depth_topic"             value="$(arg depth_topic)" />
    <arg name="camera_info_topic"       value="$(arg camera_info_topic)" />
    <arg name="compressed"              value="$(arg bag)" />
    <arg name="depth_image_transport"   value="raw" />
    <arg name="rtabmap_args"            value="--delete_db_on_start" />
  </include>

</launch>
