<launch>

  <!-- flasgs -->
  <arg name="vo"               default="true" /> <!-- vslam flag -->
  <arg name="record_bag"        default="false" /> <!-- bag record flag -->
  <arg name="play_bag"          default="false" /> <!-- run bag instead of simulation -->

  <!-- arguments -->
  <arg name="namespace"         default="/ackermann_vehicle" />
  <arg name="camera_ns"         default="stereo_camera" />
  <arg name="record_bag_prefix" default="sim_stereo_bag" /> <!-- bag record name prefix -->
  <arg name="play_bag_file"     default="" /> <!-- name of bag file to run - must be located in ~/.ros -->
  <arg name="start"             default="0" /> <!-- set start time of bag file -->
  <arg name="rate"              default="1" /> <!-- set start time of bag file -->

  <!-- parameters -->
	<param name="use_sim_time" type="bool" value="True"/>

  <group if="$(arg play_bag)" ns="$(arg namespace)">
    <!-- convert compressed images to raw -->
    <node name="decompress_left" pkg="image_transport" type="republish" args="compressed in:=$(arg camera_ns)/left/image_rect_color raw out:=$(arg camera_ns)/left/image_rect_color" />
    <node name="decompress_right" pkg="image_transport" type="republish" args="compressed in:=$(arg camera_ns)/right/image_rect_color raw out:=$(arg camera_ns)/right/image_rect_color" />

    <!-- in case tf static is not publish publish robot model  -->
    <param name="robot_description" command="$(find xacro)/xacro $(find ackermann_vehicle_description)/urdf/em_3905.urdf.xacro" />
    <node name="ackermann_vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

  <!-- Stereo Odometry -->
  <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="screen" ns="$(arg namespace)">
     <remap from="left/image_rect"       to="$(arg camera_ns)/left/image_rect_color"/>
     <remap from="right/image_rect"      to="$(arg camera_ns)/right/image_rect_color"/>
     <remap from="left/camera_info"      to="$(arg camera_ns)/left/camera_info"/>
     <remap from="right/camera_info"     to="$(arg camera_ns)/right/camera_info"/>

     <param name="frame_id"                 value="base_link"/>
     <param name="odom_frame_id"            value="odom"/>
     <param name="approx_sync"              value="true"/>

     <param name="Odom/Strategy"            value="0"/> <!-- 0=Frame-to-Map, 1=Frame=to=Frame -->
     <param name="Vis/EstimationType"       value="1"/> <!-- 0=3D->3D 1=3D->2D (PnP) -->
     <param name="Vis/MaxDepth"             value="0"/>
     <param name="Odom/GuessMotion"         value="true"/>
     <param name="Vis/MinInliers"           value="10"/>
     <param name="OdomF2M/BundleAdjustment" value="1"/>
     <param name="OdomF2M/MaxSize"          value="1000"/>
     <param name="GFTT/MinDistance"         value="10"/>
     <param name="GFTT/QualityLevel"        value="0.00001"/>
     <param name="GFTT/QualityLevel"        value="0.00001"/>
  </node>

  <!-- launch odom message to tf converter node -->
  <node name="odom_to_tf" pkg="message_to_tf" type="message_to_tf" ns="$(arg namespace)" args="odom" />

  <!-- launch map tf static publisher for ground truth -->
  <node name="map_tf_static_pub_node" pkg="tf" type="static_transform_publisher" args="0 0 0.163 0 0 0 map odom 100"/>

  <!-- record bag with images -->
  <node if="$(arg record_bag)" name="rosbag_recorder" pkg="rosbag" type="record" output="screen"
    args="-o $(arg record_bag_prefix) -e
    '(.*)/(left|right)/(camera_info|image_rect_color(|/theora))'
    '(.*)/odom_truth'
    '/tf(|_static)'" />

  <!-- playback recorded bag file -->
  <node if="$(arg play_bag)" name="stereo_bag_player" pkg="rosbag" type="play" output="screen"
        args="$(arg play_bag_file) --clock -s $(arg start) -r $(arg rate)" />

  <!-- launch visualization node -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find visual_odometry)/rviz/stereo_odometry_config.rviz" />

  <!-- launch trajectory server for odometry -->
  <node name="trajectory_server" pkg="hector_trajectory_server" type="hector_trajectory_server" ns="$(arg namespace)">
    <param name="target_frame_name" value="map" />
    <param name="source_frame_name" value="base_link" />
    <param name="trajectory_publish_rate" value="4" />
  </node>

  <!-- launch odometry to trajectory converter for ground truth -->
  <node name="trajectory_server_ground_truth" pkg="visual_odometry" type="odom_to_path.py" ns="$(arg namespace)">
    <remap from="/eskf_odom" to="odom_truth" />
    <remap from="/path" to="trajectory_ground_truth" />
  </node>

</launch>
